.body {
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    align-items: center;
}

.codequiz {
    text-align: center;
    color: blueviolet;
    font-size: 50px;
}

.timer {
    font-size: 3em;
}

.startbutton {
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: blueviolet;
    color: aliceblue;
}

.startbutton:hover {
    background-color: aliceblue;
    color: black;
}

.questioncontent {
    text-align: center;
    background-color: aliceblue;
    height: 400px;
    margin-bottom: 30px;
}

.questiontitle {
    font-size: 25px;
}

.choices {
    display: grid;
    grid-template-rows: 80px 80px 80px 80px;
}

.wrong-answer {
    background-color: red;
    color: white;
}

.result-container {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.input-section {
    color: aliceblue;
    text-align: center;
}

.highscores {
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: aliceblue;
}

.scorespage {
    background-color: black;
    color: aliceblue;
}

.scorestitle {
    text-align: center;
    font-size: 100px;
    border-bottom: 20px;
    border-style: solid;
}

#scores {
    font-size: 30px;
}